.brand-header-overlay{
    background: url('../images/stars.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.brand-box{
    background-color:white;
    opacity: 0.8;
}

.brand-header h1{
    color:red;
    text-align:center;
    opacity: 1;
}

.brand-header p,
.brand-header small{
    text-align:center;
    color:blue;
}


.brand-header hr{
    margin:2px;
    border-top: 10px solid red;
}

.navbar{
    position: absolute;
    width:100%;
}

.nav-link{
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}
.navbar {
    color: #fff;
}

.hamburger-icon {
    color: red;
    font-weight: bold;
}


.hero-image{
  width:100%;
  height:65vh;
  background: url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  opacity:0.8;
}

.container-overlay{
    text-align:center;
    width:100%;
    height:100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /*background: url('../images/jumbotron-background.jpg');*/
    background-color:black;
    background-repeat: repeat;
    background-position: center;
    background-size:cover;
    opacity: 0.2;
}


.section{
    height:95vh;
}

.about-us-section{
    background-color:black;
}

.services-section{
    background-color:yellow;
}

.occasions-section{
    background-color:red;
}

.footer{
    height:35vh;
    background-color:black;
}