.brand-header-overlay{
    background: url('../images/stars.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.brand-box{
    background-color:white;
    opacity: 0.8;
}

.brand-header h1{
    color:red;
    text-transform: uppercase;
    text-align:center;
    font-weight: bold;
    opacity: 1;
}

.brand-header p,
.brand-header small{
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
    color:#0056b3;
}


.section-spacer hr {
    margin:2px;
    border-top: 10px solid red;
    padding:0;
}

.navbar{
    position: absolute;
    width:100%;
    margin-top:15px;
}

.nav-link,
.navbar button{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar {
    color: #fff;
}

.hamburger-icon {
    color: #fff;
    font-weight: bold;
}


.hero-image{
  width:100%;
  height:60vh;
  background: url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  opacity:0.8;
}

.container-overlay{
    text-align:center;
    width:100%;
    height:100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color:black;
    background-repeat: repeat;
    background-position: center;
    background-size:cover;
    opacity: 0.2;
}


.section-header{
    text-align:center;
}

.content-container{
    margin: 15px 0 15px 0;
}


.img-move-wrapper {
  border:1px solid red;
  position:relative;
  overflow:hidden;
  max-width:100%;
  margin:0 auto;
}

.services-section{
    background: url("../images/maintenance-2.jpg");
    position: relative;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
}

.test{
    border: 1px solid rgba(7, 1, 1);
    box-shadow: 5px 10px 8px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(172, 156, 156, 0.8);
    margin-top:30px;
    margin-bottom:30px;
}




.occasions-section{
    height:65vh;
    background-image: linear-gradient(#060503, #fff6e0);

}

.footer{
    height:25vh;
    background-color:#6d6c6b;
}