*{
    font-size: 10px;
}

p,
#timetable th,
#timetable td{
    font-size: 1.5rem;
}

h2{
    font-size: 3rem;
    text-transform: uppercase;

}

h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    color:#BF0D3E;
    text-align:center;
    font-weight: bold;
}

body {
  position: relative;
}

.brand-header-overlay{
    background: url('../images/stars.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.brand-box{
    background-color:white;
    opacity: 0.8;
}

.brand-header p
{
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
    color:#00629B;
}

.section-spacer hr {
    margin:0.2rem;
    border-top: 0.8rem solid #BF0D3E;
    padding:0;
}


.navbar{
    position: absolute;
    width:100%;
}

.sticky-top{
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.nav-link,
button{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar {
    opacity: 0.7;
}

.hamburger-icon {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

 .nav-item::after {
     content: '';
     display: block;
     width: 0px;
     height: 0.2rem;
     background: #BF0D3E;
     transition: 0.4s;
     margin-bottom: 0.5rem;
 }

 .nav-item:hover::after {
     width: 100%
 }

.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show>.nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover
 {
     color: #BF0D3E;
 }

 .navbar button:hover,
 .occasions-button:hover,
 .submit-button:hover{
    background-color: #00629B; 
 }

 .navbar button:hover,
 .occasions-button:hover,
 .filter label:hover,
 .modal-header span:hover,
 .submit-button:hover
 {
     
     border-color: #BF0D3E;
     color: #BF0D3E;
 }

 .navbar button,
 .occasions-button,
 .submit-button,
 .filter label
 {
     background-color: #00629B; 
 }

 .nav-link {
     margin-top: 0.5rem;
     padding: 1rem 0.5rem;
     transition: 0.2s
 }

.hero-image{
  width:100%;
  height:60vh;
  background: url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  opacity:0.8;
}

.container-overlay{
    text-align:center;
    width:100%;
    height:100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color:black;
    background-repeat: repeat;
    background-position: center;
    opacity: 0.2;
}

.section-header{
    text-align:center;
    width: 100%;
}

.services-section{
    background: url("../images/maintenance-2.jpg");
    position: relative;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    width: 100%;
}

.content-box{
 margin-top:3.0rem;
}

.content-box,
.car-info-box{
    border: 0.1rem solid rgba(199, 184, 183,0.5);
    box-shadow: 0.5rem 0.75rem 0.75rem rgb(199, 184, 183);
    border-radius: 0.5rem;
    background-color: white;
    margin-bottom:3.0rem;
}

.content-box i{
    font-size: 2rem;
}

.content-box a,
.content-box strong{
    font-size: 1.5rem;
}

.occasions-button{
    margin-bottom: 1rem;
}

.about-us-section,
.occasions-section{
    background-image: linear-gradient(#060503, #fff6e0);
}

#first-picture{
    padding-left: 1.5rem;
}

#last-picture{
    padding-right: 1.5rem;
}

.about-us-picture{
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;


   	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: all .3s ease-in-out;

}

.about-us-picture:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    overflow: hidden;
}

.media-section
{
     background-color: rgba(172, 156, 156, 0.5);
}

iframe{
    position: relative;
    height: 40vh;
    width: 60%;
    margin: 10px;
    border: 0.1rem solid rgba(199, 184, 183,0.5);
    box-shadow: 0.5rem 0.75rem 0.75rem rgb(199, 184, 183);
    border-radius: 0.5rem;
}

.footer{
    background-color:black;
}

.spacer{
    margin-top: 3.5rem;
}

.social-links li{
    list-style-type: none;
    display: inline-block;
    padding-right: 5rem;
}

.social-links i,
.social-links h3{
    color: white;
    padding: 1rem;
}

.social-links i:hover{
    color:black;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0.5rem 0.75rem 0.75rem rgb(199, 184, 183);
}

.social-links i{
    margin-top: 3.5rem;
    font-size: 3.5rem;
    border-top-left-radius: 2rem;
    -webkit-transition: .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.address-info-item{
    margin-left: 2.0rem;
    margin-bottom: 1.5rem;
    display: block;
    clear:both;
}

.address-header{
    text-align: center;
}

.address-info-item .key,
.address-info-item .value{
    text-align: center;
    color: white;
    padding-right: 0.8rem;
}

.address-info-item a{
    margin: 0;
    font-size: 1.5rem;
}

.address-info-item .key{
    margin-right: 2.1rem;
    padding-top: 0.2rem;
    vertical-align: top;
}

.address-info-item .key p{
    font-weight: 700;
}

.address-info-item .value{
    position: relative;
}

.copyright{
    margin-top: 3.5rem;
    text-align: center;
    color:white;
}

.carousel-item img{
    max-height:60vh;
    max-width: 95%;
    margin-left:1rem;
    margin-bottom: 5rem;
    border: 0.1rem solid rgba(199, 184, 183,0.5);
    box-shadow: 0.5rem 0.75rem 0.75rem rgb(199, 184, 183);
    border-radius: 0.5rem;
   
}

.carousel-indicators{
    margin: 5rem;
}

.car-info-box{
    margin-left: 1rem;
    margin-bottom: 2rem;
    max-width: 95%;
    padding: 2rem;
}

/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
  text-align: center;
  margin: 2.5rem 0 2.5rem 0;
}

.filters * {
  display:  inline-block;
}

.filters label {
  padding: 0.8rem 0.6rem;
  margin-top:0.5rem;
  min-width: 10.0rem;
  border-radius: 0.2em;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
  font-size: 1.5rem;
  color: #fff; 
  border: 1px solid transparent;
}

.filter input[type="radio"] {
  position: absolute;
  left: -9999px;
}

/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 767.98px) {
  .content-box {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    }
  iframe{
    position: relative;
    height: 20vh;
    width: 80%;
    margin: 1rem;
    }
    .sticky-top{
        top: 2.5rem;}
}

@media only screen and (max-width: 991.98px) {
       #wrapper-1{
    margin-left: -3.5rem;
    margin-bottom: 3.5rem;
}
    #last-picture-md{
        padding-right: 1.5rem;
    }
}

/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="camaro"]:checked ~ .filters [for="camaro"],
[value="camaro-1"]:checked ~ .filters [for="camaro-1"],
[value="cadillac"]:checked ~ .filters [for="cadillac"]
 {
  color: #BF0D3E;
  border-color: #BF0D3E;
}

[value="camaro"]:checked ~ article .row:not([data-category~="camaro"]),
[value="camaro-1"]:checked ~ article .row:not([data-category~="camaro-1"]),
[value="cadillac"]:checked ~ article .row:not([data-category~="cadillac"])

 {
   display: none;
}

/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal-open
{
    
    padding-right: 0 !important;
    margin-right: 0 !important;
    overflow: visible;

}

.control-label{
    font-size: 1.5rem;
    margin:1rem 1rem 1rem 0;
}

.modal-content{
    background-image: linear-gradient( #fff6e0, #060503);
    border: none;
}

.modal-header span{
    font-size: 2rem;;
}

.submit-button{
    margin: 2rem auto;
    padding: 0.5rem;
}

.occasions-form-group
{
    display: none;
}

input[id="occasions"]:checked ~ .occasions-form-group {
    display: block;
}
